
<div>
    <h1>
        All Cars 
    </h1>
</div>

<h2>@Model.CurrentCategory</h2>

@{
    int pos = 1;
}

@{
    foreach (Car car1 in Model.Cars)
    {
        //@Html.Partial("_CarSummary", car)
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="img-thumbnail">
                <img src="@Url.Content($"~/images/car{pos}.jpg")" />
                <div class="caption-top">
                    <h3 class="pull-right">@car1.Price.ToString("c")</h3>
                    <h3>@car1.Name</h3>
                    <p>@car1.ShortDescription</p>

                </div>
                <div class="text-right">
                  <p class="button">
                  <a class="btn btn-success" id="cartButton"
                    asp-controller = "ShoppingCart"
                    asp-action="AddToShoppingCart"
                    asp-route-carId="@car1.CarId">
                  Add to Cart
                  </a>
                  </p>
                </div>

            </div>

        </div>
        pos++;
    }

}















