

<div>
    <h2>
        All Cars 
    </h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{
    int pos = 1;
}

@foreach (var car in Model.Cars)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
        <img src="@Url.Content($"~/images/car{pos}.jpg")" />
        <div class="caption-top">
            <h3 class="pull-right">@car.Price.ToString("c")</h3>
            <h3>@car.Name</h3>
            <p>@car.ShortDescription</p>
        </div>
        
        </div>
    </div>

    pos++;
}














